.footer-child13,
.footer-child14,
.vector-icon25 {
  position: absolute;
  top: -1.1px;
  left: 0;
  width: 1364px;
  height: 582.1px;
}
.footer-child13,
.footer-child14 {
  top: 520px;
  background-color: #036;
  height: 63px;
}
.footer-child14 {
  top: -0.1px;
  background-color: #47146c;
  height: 520px;
}
.menu-lainnya8 {
  position: absolute;
  top: 33.9px;
  left: 410.3px;
  font-size: 23px;
  line-height: 115.5%;
  display: inline-block;
  width: 183.3px;
  height: 39px;
}
.akses-cepat4,
.komunitas13,
.program-pelatihan4,
.sivitas4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 20px;
  line-height: 115.5%;
  font-weight: 600;
  font-family: "Open Sans";
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 150px;
  height: 31px;
  flex-shrink: 0;
}
.akses-cepat4:hover,
.komunitas13:hover,
.program-pelatihan4:hover,
.sivitas4:hover {
  color: #0079c0;
}
.akses-cepat4,
.komunitas13,
.program-pelatihan4 {
  width: 177px;
}
.akses-cepat4,
.program-pelatihan4 {
  width: 172px;
}
.program-pelatihan4 {
  width: 240px;
}
.menu-lainnya9 {
  position: absolute;
  top: 86.9px;
  left: 410.3px;
  width: 255.8px;
  height: 367px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.footer-child15,
.footer-child16 {
  position: absolute;
  top: 26.1px;
  left: 337.4px;
  width: 1px;
  height: 490.2px;
}
.footer-child16 {
  top: 29.5px;
  left: 831.4px;
}
.ban-pt-1-icon4 {
  position: relative;
  width: 207px;
  height: 173px;
  object-fit: cover;
}
.enter-icon4 {
  position: relative;
  width: 119.1px;
  height: 101.5px;
}
.foto-footer4 {
  position: absolute;
  top: 55.9px;
  left: 67.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}
.image-1-icon4 {
  position: relative;
  width: 335.6px;
  height: 263.5px;
  object-fit: cover;
}
.institut-teknologi-deljl4 {
  position: relative;
  line-height: 130.5%;
  display: inline-block;
  width: 344.1px;
  height: 206.9px;
  flex-shrink: 0;
}
.maps-adress4 {
  position: absolute;
  top: 29px;
  left: 945px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
}
.copyright-sdi-it-del4 {
  position: absolute;
  top: 539.9px;
  left: 386.8px;
  display: inline-block;
  width: 591.4px;
  height: 22px;
}
.footer4 {
  position: absolute;
  top: 2568px;
  left: 0;
  width: 1364px;
  height: 581px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  font-family: "Open Sans";
}
.dsadas-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1384px;
  height: 544px;
  object-fit: cover;
}
.vector-11-icon4 {
  position: relative;
  width: 11.5px;
  height: 12.9px;
}
.vector4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 507px;
  left: calc(50% - 32px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.dsadas-2-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1364px;
  height: 544.2px;
}
.vector-icon26 {
  position: relative;
  width: 30px;
  height: 67px;
}
.corassel-kanan4,
.corassel-kiri4 {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: transparent;
  position: absolute;
  top: 228px;
  left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.corassel-kanan4 {
  left: 1305.9px;
}
.corassel3 {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1364px;
  height: 544.2px;
}
.logo-1-icon4 {
  position: relative;
  width: 87.3px;
  height: 96px;
  object-fit: cover;
}
.institut-teknologi-del13 {
  font-weight: 600;
}
.martuhan-marroha-marbisuk4 {
  margin: 0;
  font-size: 15px;
}
.institut-teknologi-del-martuha-container4 {
  position: relative;
  display: inline-block;
  width: 311.3px;
  flex-shrink: 0;
}
.logo4 {
  width: 387px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.home4,
.vector-icon28 {
  position: relative;
  width: 25px;
  height: 25px;
}
.home4 {
  font-size: 20px;
  line-height: 115.5%;
  font-weight: 800;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  display: inline-block;
  width: 63px;
  height: 23px;
  flex-shrink: 0;
  cursor: pointer;
}
.fasilitas10:hover,
.home4:hover,
.lembaga14:hover,
.pengumuman-berita4:hover,
.program-pendidikan10:hover {
  color: rgba(0, 0, 0, 0.5);
}
.komunitas14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.icon-news4 {
  position: relative;
  width: 30px;
  height: 30px;
}
.pengumuman-berita4 {
  position: relative;
  font-size: 20px;
  line-height: 115.47%;
  font-weight: 800;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  display: inline-block;
  width: 145px;
  height: 50px;
  flex-shrink: 0;
}
.komunitas15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 92px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.komunitas-wrapper2 {
  position: relative;
  border-radius: 10px;
  background-color: rgba(7, 86, 133, 0.5);
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
  width: 193px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-university3,
.lembaga14 {
  position: relative;
  width: 26.8px;
  height: 25px;
}
.lembaga14 {
  font-size: 20px;
  line-height: 115.5%;
  font-weight: 800;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  display: inline-block;
  width: 115px;
  height: 23px;
  flex-shrink: 0;
  cursor: pointer;
}
.vector-icon29 {
  position: relative;
  width: 25px;
  height: 25px;
}
.program-pendidikan10 {
  position: relative;
  font-size: 20px;
  line-height: 115.5%;
  font-weight: 800;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  display: inline-block;
  width: 116.2px;
  height: 46px;
  flex-shrink: 0;
  cursor: pointer;
}
.program-pendidikan9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.maintenance-1-14 {
  position: relative;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.fasilitas10 {
  position: relative;
  font-size: 20px;
  line-height: 115.5%;
  font-weight: 800;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  display: inline-block;
  width: 87px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}
.logo-parent1,
.navbar5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar5 {
  margin: 0;
  width: 833px;
  gap: 25px;
}
.logo-parent1 {
  position: absolute;
  top: 82px;
  left: 29px;
  gap: 82px;
}
.header-child2 {
  position: relative;
  background-color: #036;
  width: 1364px;
  height: 66px;
  z-index: 0;
}
.search9 {
  border: 0;
  font-family: "Open Sans";
  font-size: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.vector-2-icon5 {
  position: relative;
  width: 49.8px;
  height: 35px;
  z-index: 0;
}
.vector-4-icon4 {
  top: 19.8px;
  left: 27.2px;
  width: 11.1px;
  height: 12.2px;
  z-index: 1;
}
.frame4,
.search8,
.vector-4-icon4,
.vector-5-icon4 {
  margin: 0 !important;
  position: absolute;
}
.vector-5-icon4 {
  height: 68%;
  width: 42.77%;
  top: 5.71%;
  right: 34.34%;
  bottom: 26.29%;
  left: 22.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.frame4,
.search8 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.frame4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 216px;
  align-items: center;
  justify-content: center;
}
.search8 {
  top: 13px;
  left: 1036px;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-copy4 {
  position: relative;
  width: 31.2px;
  height: 32px;
  z-index: 0;
}
.facebook-icon4 {
  position: absolute;
  margin: 0 !important;
  height: 62.5%;
  width: 28.85%;
  top: 18.75%;
  right: 34.94%;
  bottom: 18.75%;
  left: 36.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.facebook4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.g-icon4,
.twitter-icon4 {
  position: absolute;
  margin: 0 !important;
  height: 48.13%;
  width: 58.01%;
  top: 25%;
  right: 20.51%;
  bottom: 26.88%;
  left: 21.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.g-icon4 {
  height: 62.81%;
  width: 62.18%;
  top: 18.75%;
  right: 13.46%;
  bottom: 18.44%;
  left: 24.36%;
}
.header4,
.share4 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.share4 {
  margin: 0 !important;
  top: calc(50% - 23px);
  left: calc(50% - 651.4px);
  flex-direction: row;
  gap: 14px;
  z-index: 2;
}
.header4 {
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 10px;
}
.vector-icon30 {
  position: relative;
  border-radius: 10px;
  width: 1155.9px;
  height: 850.5px;
  z-index: 0;
}
.vector-28-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 182.65px);
  border-radius: 20px;
  max-height: 100%;
  width: 365.3px;
}
.berita-terkini1 {
  position: absolute;
  top: 8px;
  left: calc(50% - 113.65px);
  display: inline-block;
  width: 228px;
  height: 47px;
}
.judul {
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: 384px;
  width: 365.3px;
  height: 63.6px;
  z-index: 1;
  font-size: 35px;
  color: #fff;
}
.link-sosialisasi {
  position: absolute;
  top: 0;
  left: 242.6px;
  line-height: 22.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 181.8px;
  height: 74.2px;
}
.dsc-0019-1024x681-1-icon {
  position: absolute;
  top: 2.4px;
  left: -33.5px;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.pada-hari-jumat,
.selengkapnya-2 {
  position: absolute;
  font-size: 11px;
  color: #000;
  display: inline-block;
}
.selengkapnya-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 162.6px;
  left: 244.4px;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: left;
  width: 99.7px;
  height: 15.9px;
}
.selengkapnya-2:hover,
.selengkapnya-3:hover,
.selengkapnya-4:hover,
.selengkapnya-6:hover,
.selengkapnya-7:hover,
.selengkapnya-8:hover,
.selengkapnya-9:hover {
  color: rgba(0, 0, 255, 0.5);
}
.pada-hari-jumat {
  top: 85.7px;
  left: 242.6px;
  width: 212.7px;
  height: 68px;
}
.berita-4 {
  position: absolute;
  margin: 0 !important;
  top: 528.5px;
  left: 634.5px;
  width: 455.3px;
  height: 178.5px;
  z-index: 2;
}
.whatsapp-image-2023-11-01-at-0-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 263px;
  height: 197px;
  object-fit: cover;
}
.link-dsc01879-1024x681jpg {
  position: absolute;
  width: calc(100% - 241.8px);
  top: calc(50% - 84.05px);
  right: 241.8px;
  left: 0;
  border-radius: 20px;
  height: 170.2px;
  overflow: hidden;
  background-image: url(./public/link--dsc018791024x681jpg@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.selengkapnya {
  font-size: 11px;
}
.span4 {
  font-size: 13px;
}
.selengkapnya-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 162.6px;
  left: 244.4px;
  font-weight: 700;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  width: 99.7px;
  height: 15.9px;
}
.berita-3 {
  position: absolute;
  margin: 0 !important;
  top: 528.5px;
  left: 42.4px;
  width: 455.3px;
  height: 178.5px;
  z-index: 3;
}
.link-sosialisasi2 {
  position: absolute;
  top: 0;
  left: 243.5px;
  line-height: 22.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 181.8px;
  height: 74.2px;
}
.institut-teknologi-del14,
.selengkapnya-4 {
  position: absolute;
  font-size: 11px;
  color: #000;
  display: inline-block;
}
.selengkapnya-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 162.6px;
  left: 245.3px;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: left;
  width: 99.7px;
  height: 15.9px;
}
.institut-teknologi-del14 {
  top: 85.7px;
  left: 243.5px;
  width: 212.7px;
  height: 68px;
}
.dsc02166-1024x681-1-icon {
  position: absolute;
  top: 2.3px;
  left: -27px;
  border-radius: 20px;
  width: 244.4px;
  height: 205px;
  object-fit: cover;
}
.berita-2 {
  position: absolute;
  margin: 0 !important;
  top: 234.2px;
  left: 633.6px;
  width: 456.2px;
  height: 180.3px;
  z-index: 4;
}
.sosialisasi-data-diri {
  margin: 0;
}
.link-sosialisasi-container1 {
  line-break: anywhere;
  width: 100%;
}
.link-dsc01879-1024x681jpg1 {
  position: absolute;
  width: calc(100% - 211.8px);
  top: calc(50% - 87.05px);
  right: 238.8px;
  left: -27px;
  border-radius: 20px;
  max-width: 100%;
  overflow: hidden;
  height: 200.2px;
  object-fit: cover;
}
.berita-1 {
  position: absolute;
  margin: 0 !important;
  top: 234.2px;
  left: 46.8px;
  width: 455.3px;
  height: 178.5px;
  z-index: 5;
}
.vector-27-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.time-november {
  position: absolute;
  top: 2.3px;
  left: 55px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 134px;
  height: 13px;
}
.tanggal {
  position: absolute;
  margin: 0 !important;
  top: 116.7px;
  left: 445px;
  width: 243.6px;
  height: 17.5px;
  z-index: 6;
  font-size: 15px;
  color: #000;
}
.time-november1 {
  position: absolute;
  top: 2.7px;
  left: 62px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 12px;
}
.tempat {
  position: absolute;
  margin: 0 !important;
  top: 157.3px;
  left: 445px;
  width: 243.6px;
  height: 17.5px;
  z-index: 7;
  font-size: 15px;
  color: #000;
}
.berita-terkini {
  position: absolute;
  top: 710.2px;
  left: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  font-size: 13px;
  color: #036;
  font-family: "Open Sans";
}
.vector-icon31 {
  position: relative;
  border-radius: 10px;
  width: 1156px;
  height: 849.3px;
  z-index: 0;
}
.vector-47-icon {
  position: relative;
  width: 135.9px;
  height: 41px;
  z-index: 0;
}
.selengkapnya-6 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7.7px);
  left: calc(50% - 45.95px);
  font-size: 12px;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  width: 92px;
  height: 16px;
  flex-shrink: 0;
  z-index: 1;
}
.selenhkapnya {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 484.1px;
  left: 41.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.link-sosialisasi3 {
  position: absolute;
  top: 176.5px;
  left: 22.9px;
  line-height: 22.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 180.9px;
  height: 80.3px;
}
.pada-hari-sabtu {
  position: absolute;
  top: 265.6px;
  left: 22.9px;
  font-size: 11px;
  color: #000;
  display: inline-block;
  width: 174.7px;
  height: 193.3px;
}
.o2a1095-1024x683-1-icon {
  position: absolute;
  top: 0.1px;
  left: 0;
  width: 231px;
  height: 170px;
  object-fit: cover;
}
.link-dsc01879-1024x681jpg2 {
  position: absolute;
  width: 100%;
  top: calc(50% - 262.55px);
  right: 0;
  left: 0;
  border-radius: 20px;
  height: 170.3px;
  overflow: hidden;
  background-image: url(./public/link--dsc018791024x681jpg2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vector-48-icon {
  position: absolute;
  height: 90.61%;
  width: 100.44%;
  top: -0.1%;
  right: -0.22%;
  bottom: 9.48%;
  left: -0.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pengumunan-1,
.vector-47-icon1 {
  position: relative;
  width: 226.8px;
  height: 525.1px;
}
.vector-47-icon1 {
  width: 135.9px;
  height: 41px;
  z-index: 0;
}
.selengkapnya1 {
  font-size: 12px;
}
.span5 {
  font-size: 14px;
}
.selengkapnya-7 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9.2px);
  left: calc(50% - 47.25px);
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  width: 94px;
  height: 19px;
  flex-shrink: 0;
  z-index: 1;
}
.selenhkapnya1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 487.1px;
  left: 42.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.rektor-1-icon {
  position: absolute;
  top: 0;
  left: 0.1px;
  width: 227px;
  height: 192px;
  object-fit: cover;
}
.link-dsc01879-1024x681jpg3 {
  position: absolute;
  width: 100%;
  top: calc(50% - 264.05px);
  right: 0;
  left: 0;
  border-radius: 20px;
  height: 170.3px;
  overflow: hidden;
  background-image: url(./public/link--dsc018791024x681jpg3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vector-48-icon1 {
  position: absolute;
  height: 90.76%;
  width: 100.44%;
  top: -0.09%;
  right: -0.22%;
  bottom: 9.34%;
  left: -0.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pengumuman-2 {
  position: relative;
  width: 226.8px;
  height: 528.1px;
}
.horas-warga-sumatera,
.selengkapnya-8 {
  position: absolute;
  color: #000;
  display: inline-block;
}
.selengkapnya-8 {
  margin: 0 !important;
  top: calc(50% - 9.2px);
  left: calc(50% - 47.05px);
  font-family: "Open Sans";
  text-align: left;
  width: 95px;
  height: 19px;
  flex-shrink: 0;
  z-index: 1;
}
.horas-warga-sumatera {
  top: 263.9px;
  left: 29.3px;
  font-size: 11px;
  width: 174.7px;
  height: 193.3px;
}
.link-dsc01879-1024x681jpg5 {
  position: absolute;
  top: 0;
  left: 0.1px;
  width: 226px;
  height: 170px;
  overflow: hidden;
  object-fit: cover;
}
.link-dsc01879-1024x681jpg4 {
  position: absolute;
  width: 100%;
  top: calc(50% - 264.05px);
  right: -0.2px;
  left: 0.2px;
  border-radius: 20px;
  height: 170.3px;
  overflow: hidden;
  background-image: url(./public/link--dsc018791024x681jpg3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.selengkapnya-9 {
  position: absolute;
  top: calc(50% - 8.4px);
  left: calc(50% - 50.35px);
  font-size: 12px;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  width: 101.2px;
  height: 16.3px;
}
.selenhkapnya3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 499.5px;
  left: 45.9px;
  width: 135.9px;
  height: 41px;
}
.whatsapp-image-2021-07-29-at-0-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 257px;
  height: 248px;
  object-fit: cover;
}
.link-dsc01879-1024x681jpg6 {
  position: absolute;
  width: 100%;
  top: calc(50% - 270.25px);
  right: 0;
  left: 0;
  border-radius: 20px;
  height: 170.3px;
  overflow: hidden;
  background-image: url(./public/link--dsc018791024x681jpg5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vector-48-icon3 {
  position: absolute;
  height: 90.97%;
  width: 100.44%;
  top: -0.09%;
  right: -0.22%;
  bottom: 9.12%;
  left: -0.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pengumuman-4 {
  position: relative;
  width: 226.8px;
  height: 540.5px;
}
.pengumunan-1-parent {
  margin: 0 !important;
  position: absolute;
  top: 237.4px;
  left: 29.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 53px;
  z-index: 1;
}
.vector-28-icon1 {
  position: absolute;
  top: calc(50% - 32.3px);
  left: calc(50% - 182.7px);
  border-radius: 20px;
  width: 365.4px;
  height: 64.6px;
}
.pengumuman2 {
  position: absolute;
  top: 5px;
  left: 76px;
  display: inline-block;
  width: 232px;
  height: 54px;
}
.judul1 {
  position: absolute;
  margin: 0 !important;
  top: 79px;
  left: 385px;
  width: 365.4px;
  height: 64.6px;
  z-index: 2;
  font-size: 35px;
  color: #fff;
}
.pengumuman,
.pengumuman1 {
  text-align: left;
  font-family: "Open Sans";
}
.pengumuman1 {
  position: absolute;
  top: 1639px;
  left: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 13px;
  color: #036;
}
.pengumuman {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 3149px;
  overflow: hidden;
  font-size: 25px;
  color: #000;
}
